doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Harry Portfolio')
  meta(name='keywords' content='Harry,Harry Sharma,Harry Sharma Portfolio')
  meta(name='author' content='Ayush Kumar')
  meta(name='theme-color' content='#333333')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='preload' href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap' as='style')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://embed.typeform.com')
  title Harry&apos;s Portfolio
  // Additional CSS Files
  link(rel='preload' href='assets/css/bootstrap.min.css' as='style')
  link(rel='stylesheet' type='text/css' href='assets/css/bootstrap.min.css')
  link(rel='preload' href='assets/css/style.min.css' as='style')
  link(rel='stylesheet' href='assets/css/style.min.css')
  link(rel='preload' href='assets/css/kursor.min.css' as='style')
  link(rel='stylesheet' href='assets/css/kursor.min.css' media='screen and (min-width: 720px)')
  script(src='assets/js/kursor.min.js')
  link(rel='shortcut icon' href='assets/images/logo/icon.svg' type='image/x-icon')
// ***** Preloader Start *****
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky
  .container
    .row
      .col-12
        nav.main-nav
          // ***** Logo Start *****
          a.logo.only-desktop(href='#welcome')
            img(src='assets/images/logo/logo.svg' loading='lazy' alt="Harry's Portfolio Logo" height='35px' width='105px')
          a.logo.only-mobile(href='#welcome')
            img(src='assets/images/logo/icon.svg' loading='lazy' alt="Harry's Portfolio Logo" height='35px' width='35px')
          // ***** Logo End *****
          // ***** Menu Start *****
          ul.nav
            li
              a(href='#work') Work
            li
              a(href='#skills') Skills
            li
              a(href='#testimonials') Testimonials
            li
              a(href='#services') Services
            li
              a(href='#contact-us') Contact
          a.menu-trigger
            span Menu
          // ***** Menu End *****
// ***** Header Area End *****
// ***** Welcome Area Start *****
#welcome.welcome-area
  // ***** Header Text Start *****
  .header-text
    .container
      .row
        .offset-xl-3.col-xl-6.offset-lg-2.col-lg-8.col-md-12.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.8s after 0s')
          p(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.2s')
            | Hey &#x1F44B;, I&apos;m Harry
          h1.only-desktop(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
            | &ldquo;I build 
            strong Websites
            br
            |                 people love
            br
            | to visit&rdquo;
          h1.only-mobile
            | &ldquo;I build 
            br
            strong Websites
            br
            |                 people love 
            br
            | to visit&rdquo;
          p.only-desktop
            | A
            strong Full-Stack Web Developer
          p.only-mobile A Full-Stack Web Developer
          a.main-button-slider(href='#work') MY WORK
          a(href='#features' aria-label='features')
            .arrow.only-desktop
          // https://codepen.io/JoshMac/pen/MaYEmJ
  // ***** Header Text End *****
// ***** Welcome Area End *****
// ***** Features Big Item Start *****
section#features.section.padding-top-70.padding-bottom-0
  .container
    .row
      .col-lg-5.col-md-12.col-sm-12.align-self-center(data-scroll-reveal='enter left move 30px over 0.4s after 0.2s')
        img.rounded.img-fluid.d-block.mx-auto(src='assets/images/left.webp' loading='lazy' alt='full potential' width='430px' height='288px')
      .col-lg-1
      .col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-top-fix
        .left-heading
          h2.section-title.only-desktop
            | I help companies reach their full potential
          h2.section-title.only-mobile
            | I help companies in reaching their full potential
        .left-text
          p
            | I help businesses grow and reach their potential. I make sure
            | that my websites not only looks good but feels good as well.
            br
            br
            |                 I always go the extra mile to make sure my websites are
            |                 responsive, optimized, snappy and accessible to all.
    .row
      .col-lg-12
        .hr
// ***** Features Big Item End *****
// ***** Features Big Item Start *****
section.section.padding-bottom-100
  .container
    .row
      .col-lg-5.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix-big.only-mobile(data-scroll-reveal='enter right move 30px over 0.4s after 0.4s')
        img.rounded.img-fluid.d-block.mx-auto(src='assets/images/right.webp' loading='lazy' alt='online presence' width='430px' height='288px')
      .col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix
        .left-heading
          h2.section-title.only-desktop
            | I help businesses create an online presence
          h2.section-title.only-mobile
            | I help businesses in creating an online presence
        .left-text
          p
            | &ldquo;Ignoring online marketing is like opening a business but not
            | telling anyone about it.&rdquo; &ndash; Anonymous
            br
            br
            |                 I assist businesses in establishing their online presence. I
            |                 make sure that the website is easily accessible and solves the
            |                 existing problems
      .col-lg-1
      .col-lg-5.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix-big.only-desktop(data-scroll-reveal='enter right move 30px over 0.6s after 0.4s')
        img.rounded.img-fluid.d-block.mx-auto(src='assets/images/right.webp' loading='lazy' alt='online presence' width='430px' height='288px')
// ***** Features Big Item End *****
// ***** Work Start *****
section#work.section
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title My Work
      .offset-lg-3.col-lg-6
        .center-text
          p Some of my recent projects
    // ***** Section Title End *****
    .row
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
        .blog-post-thumb
          .img
            a(href='https://ayush-kumar.netlify.app/')
              img(src='assets/images/projects/ayush-portfolio.webp' loading='lazy' alt='' width='370 px' height='220 px')
          .blog-content
            h3
              a(href='https://ayush-chandra.github.io/portfolio/') Ayush&apos;s Portfolio
            .text Front-end and Deployment
            a.main-button(href='https://ayush-kumar.netlify.app/') See Project
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
        .blog-post-thumb
          .img
            a(href='https://missioned.netlify.app/')
              img(src='assets/images/projects/missioned.webp' loading='lazy' alt='' width='370 px' height='220 px')
          .blog-content
            h3
              a(href='https://missioned.netlify.app/') MissionEd
            .text Front-end, Back-end, Deployment
            a.main-button(href='https://missioned.netlify.app/') See Project
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.8s')
        .blog-post-thumb
          .img
            a(href='http://harry-sharma.netlify.com/')
              img(src='assets/images/projects/harry-portfolio.webp' loading='lazy' alt='' width='370 px' height='220 px')
          .blog-content
            h3
              a(href='#') My Portfolio
            .text Development and Deployment
            a.main-button(href='http://harry-sharma.netlify.com/') See Project
// ***** Blog End *****
// ***** Home Parallax Start *****
section#skills.mini
  .mini-content
    .container
      .row
        .offset-lg-3.col-lg-6
          .info
            h1 My Skills
            p.only-desktop
              | Although i have the basic understanding of a lot of things,
              br
              | these
              |                   are the once in which I&apos;m most confident.
            p.only-mobile The technologies I love to work with.
      // ***** Mini Box Start *****
      .row
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/html.svg' loading='lazy' alt='HTML' width='60px' height='60px')
            strong HTML
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.5s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/css.svg' loading='lazy' alt='CSS' width='60px' height='60px')
            strong CSS
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.6s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/react.svg' loading='lazy' alt='React' width='60px' height='60px')
            strong React
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.7s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/nodejs.svg' loading='lazy' alt='Node.js' width='60px' height='60px')
            strong Node.js
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.8s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/php.svg' loading='lazy' alt='PHP' width='60px' height='60px')
            strong PHP
        .col-lg-2.col-md-3.col-sm-6.col-6(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.9s')
          a.mini-box(href='#')
            i
              img(src='assets/images/skills/python.svg' loading='lazy' alt='Python' width='60px' height='60px')
            strong Python
      // ***** Mini Box End *****
// ***** Home Parallax End *****
// ***** Testimonials Start *****
section#testimonials.section.colored
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title What do they say?
      .offset-lg-3.col-lg-6
        .center-text
          p.only-desktop
            | Here&apos;s what my clients have to say about me.
          p.only-mobile
            | Here&apos;s what my previous clients 
            br
            |                 have to say about me.
    // ***** Section Title End *****
    .row
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
        .team-item
          .team-content
            i
              img(src='assets/images/testimonial-icon.svg' loading='lazy' alt='testimonial-icon' width='35px' height='35px')
            p
              | In my experience, no project is too much trouble, and with
              | Harry you really get a rare entity &ndash; someone who can simplify
              | what can be a very complex industry at times. I would
              | recommend Harry to anyone who needs a website.
            .user-image
              img(src='assets/images/testimonials/testimonial (2).webp' loading='lazy' alt='testimonial1' width='60px' height='60px')
            .team-info
              h3.user-name Catherine Soft
              span CEO, Fintect
      // ***** Testimonials Item End *****
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
        .team-item
          .team-content
            i
              img(src='assets/images/testimonial-icon.svg' loading='lazy' alt='testimonial-icon' width='35px' height='35px')
            p
              | Without doubt one of the most talented programmers out there.
              | I always go back to Harry when I&apos;m out of my depth and he&apos;s
              | never failed to deliver what I ask for. If you are looking for
              | a developer just go for him without hesitation.
            .user-image
              img(src='assets/images/testimonials/testimonial (3).webp' loading='lazy' alt='testimonial2' width='60px' height='60px')
            .team-info
              h3.user-name Kelvin Wood
              span Founder, Sysgauge
      // ***** Testimonials Item End *****
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.8s')
        .team-item
          .team-content
            i
              img(src='assets/images/testimonial-icon.svg' loading='lazy' alt='testimonial-icon' width='35px' height='35px')
            p
              | Always available to help, incredibly proficient, hits
              | deadlines without fail, hard-working, and trustworthy. Harry
              | is a great help managing a very out of date website.
              | Everything we ask him to do is done quickly and efficiently,
              | we would be lost without him.
            .user-image
              img(src='assets/images/testimonials/testimonial (5).webp' loading='lazy' alt='testimonial3' width='60px' height='60px')
            .team-info
              h3.user-name David Martin
              span Manager, Infomake
      // ***** Testimonials Item End *****
// ***** Testimonials End *****
// ***** Pricing Plans Start *****
section#services.section.colored
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title My Services
      .offset-lg-3.col-lg-6
        .center-text
          p.only-desktop
            | Although I provide personalized solutions to my clients,
            br
            | but I have three tiers to simply the process.
          p.only-mobile How can I help you?
    // ***** Section Title End *****
    .row
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
        .pricing-item
          .pricing-header
            h3.pricing-title Basic
          .pricing-body
            .price-wrapper
              span.price Consultation
            ul.list
              li.active Website Review
              li.active Accessibility Analysis
              li.active Performance Analysis
              li Front-end
              li Backend
              li Deployment
          .pricing-footer
            a.main-button(href='#') Know More
      // ***** Pricing Item End *****
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
        .pricing-item.active
          .pricing-header
            h3.pricing-title Standard
          .pricing-body
            .price-wrapper
              span.price Development
            ul.list
              li.active Front-end
              li.active Back-end
              li.active Deployment
              li.active Testing
              li Designing
              li Copywriting
          .pricing-footer
            a.main-button(href='#' style='background-color: #333') Know More
      // ***** Pricing Item End *****
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.8s')
        .pricing-item
          .pricing-header
            h3.pricing-title Premium
          .pricing-body
            .price-wrapper
              span.price Full-Stack
            ul.list
              li.active Designing
              li.active Copywriting
              li.active Front-end
              li.active Back-end
              li.active Deployment
              li.active Testing
          .pricing-footer
            a.main-button(href='#') Know More
      // ***** Pricing Item End *****
// ***** Pricing Plans End *****
// ***** Counter Parallax Start *****
section.counter
  .content
    .container
      .row
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-bottom
            strong 26
            span Projects
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-top
            strong 3
            span Happy Clients
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-bottom
            strong 4
            span Years
        .col-lg-3.col-md-6.col-sm-12
          .count-item
            strong 10000
            span Lines of Code
// ***** Counter Parallax End *****
// ***** Contact Us Start *****
section#contact-us.section.colored
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title.only-desktop
            | Let&apos;s build something amazing together
          h2.section-title.only-mobile Let&apos;s work together
      .offset-lg-3.col-lg-6
        .center-text
          p.only-desktop
            | Feel free to reach out to me any time, I&apos;ll get back to you asap
            br
            // I prefer to talk over email, since we may be a few time zones away.
          p.only-mobile Feel free to reach out to me any time.
    // ***** Section Title End *****
    .row
      // ***** Contact Text Start *****
      .col-lg-4.col-md-6.col-sm-12
        h1#contact-center(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s' style='font-size: 20px; padding-bottom: 30px')
          | Contact
        .contact-text
          p.contactby
            a.only-desktop(href='mailto:adamayush@gmail.com' data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s') hey@harry.dev.com
            a.only-mobile(href='mailto:adamayush@gmail.com') Email : hello@harry.com
          p.contactby
            a.only-desktop(href='tel:123-456-7890' data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s') +91-94307-24221
            a.only-mobile(href='tel:123-456-7890') Phone : +91-94307-24221
      // ***** Contact Text End *****
      // ***** Contact Form Start *****
      .col-lg-8.col-md-6.col-sm-12
        .contact-form
          form#contact(action='mailto:adamayush@gmail.com?&subject=Looking for a developer' method='post' enctype='text/plain')
            .row
              .col-lg-6.col-md-12.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.1s')
                fieldset
                  label(for='name')
                  input#name.form-control(name='Name' type='text' placeholder='Full Name' required='')
              .col-lg-6.col-md-12.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.2s')
                fieldset
                  label(for='email')
                  input#email.form-control(name='Email' type='email' placeholder='E-Mail Address' required='')
              .col-lg-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.3s')
                fieldset
                  label(for='message')
                  textarea#message.form-control(name='Message' rows='6' placeholder='Your Message' required='')
              .col-lg-12(data-scroll-reveal='enter bottom move 50px over 0.2s after 0s')
                fieldset
                  button#form-submit.main-button(type='submit' value='Send')
                    | Send Message
      // ***** Contact Form End *****
// ***** Contact Us End *****
// ***** Footer Start *****
footer
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        p(style='\
        text-align: center;\
        font-weight: 400;\
        font-size: 16px;\
        color: #fff;\
        letter-spacing: 0.88px;\
        ')
          | Let&apos;s stay connected
        br
        ul.social
          li
            a(href='mailto:adamayush@gmail.com' target='_blank' title='Email' aria-label='Email')
              img.social-icons(src='assets/images/icons/mail.svg' loading='lazy' width='14px' height='10.5px' alt='mail')
          li
            a(href='https://www.linkedin.com/in/ayush-chandra/' target='_blank' title='LinkedIn' rel='noopener' aria-label='LinkedIn')
              img.social-icons(src='assets/images/icons/linkedin.svg' loading='lazy' width='13px' height='15px' alt='linkedin')
          li
            a(href='https://www.github.com/ayush-chandra' target='_blank' title='Github' rel='noopener' aria-label='Github')
              img(src='assets/images/icons/github.svg' loading='lazy' width='16px' height='19.43px' alt='github')
          li
            a(href='#' target='_blank' title='Instagram' rel='noopener' aria-label='Instagram')
              img.social-icons(src='assets/images/icons/instagram.svg' loading='lazy' width='17px' height='17px' alt='instagram')
          li
            a(href='#' target='_blank' title='Blog' rel='noopener' aria-label='Blog')
              img.social-icons(src='assets/images/icons/blog.svg' loading='lazy' width='19px' height='16px' alt='blog')
    .row
      .col-lg-12
        p.copyright
          img.social-icons(src='assets/images/icons/code.svg' loading='lazy' title='Coded' style='margin: auto 2px' height='16px' width='16px' alt='coded')
          |               with
          img.social-icons(src='assets/images/icons/heart.svg' loading='lazy' height='12px' width='12px' title='Love' style='margin: auto 2px' alt='love')
          |               by Harry 
          br
          br
          | Copyright &copy; 2020
a.typeform-share.button.chat-blob(rel='noopener' href='https://form.typeform.com/to/YDb5aG?typeform-medium=embed-snippet' data-mode='popover' style='\
width: 40px;\
height: 40px;\
position: fixed;\
box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06),\
0px 2px 4px rgba(0, 0, 0, 0.08);\
right: 26px;\
bottom: 26px;\
border-radius: 50%;\
display: flex;\
align-items: center;\
justify-content: center;\
cursor: pointer;\
background: #333;\
overflow: hidden;\
line-height: 0;\
z-index: 100;\
' target='_blank' title='Contact Harry')
  span.icon
    img(alt='contact-me' src='assets/images/chat-icon.svg' width='15px' height='15px')
script(defer='').
  (function () {
  var qs,
  js,
  q,
  s,
  d = document,
  gi = d.getElementById,
  ce = d.createElement,
  gt = d.getElementsByTagName,
  id = 'typef_orm_share',
  b = 'https://embed.typeform.com/';
  if (!gi.call(d, id)) {
  js = ce.call(d, 'script');
  js.id = id;
  js.src = b + 'embed.js';
  q = gt.call(d, 'script')[0];
  q.parentNode.insertBefore(js, q);
  }
  })();
// jQuery
script(src='assets/js/jquery-2.1.0.min.js' defer='')
// Bootstrap
script(src='assets/js/popper.js' defer='')
script(src='assets/js/bootstrap.min.js' defer='')
// Plugins
script(src='assets/js/scrollreveal.min.js' defer='')
script(src='assets/js/waypoints.min.js' defer='')
script(src='assets/js/jquery.counterup.min.js' defer='')
script(src='assets/js/imgfix.min.js' defer='')
// Global Init
script(src='assets/js/custom.js' defer='')
// Round Custom Cursor
script.
  new kursor({
  color: '#333333',
  type: 4,
  });
